{% extends 'base.html.twig' %}

 {% block stylesheets %}
            <link rel="stylesheet" href= {{ asset('css/accueil.css') }} />
            <link rel="stylesheet" href= {{ asset('css/general.css') }} />
            <link rel="stylesheet" href= {{ asset('css/socialnet.css') }} />
            
        {% endblock %}
{% block title %}YOGIZGOOD{% endblock %}

{% block body %}

<body class="bg_beige">
    <main>   
        <section class="bg_blcasse">
            <h2>Evénements à venir</h2>
            <div class="slideshow-container">
                <div class="mySlides">
                <img src="../img/atelier_détox.svg" alt="atelier détox">
                <div class="detox"><h4>Samedi 18 mars 2023 | GAP</h4><br>
                <p>Atelier Yoga et Naturo<br>
                Détox Printanière</p><br>
                <a href="#" class="btn_beige">S'inscrire</a>
                </div>
            </div>
    
                   
            <div class="mySlides">
              <img src="../img/atelier_circulation.svg" alt="atelier circulation">
              <div class="circulation"><h4>Samedi 27 mai 2023 | GAP</h4><br>
              <p>Atelier Yoga et Naturo<br>
                Circulation Sanguine</p><br>
                <a href="#" class="btn_beige">S'inscrire</a>
                </div>
            </div>
           
            <a class="prev" onclick="plusSlides(-1)"><div class="flecheg"></div></a>
            <a class="next" onclick="plusSlides(1)"><div class="fleched"></div></a>  
            
            </div>
                       
            
            <div class=" dotbox">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </section>

    <!-- Tarifs -->
    <section class="bg_beige">
        <h2>Présentation et réservations</h2>
        <div class="yoggies">
        <img src="../img/yogie1.png" alt="yoggie assise">
        <img src="../img/yogie2.png" alt="yoggie debout">
        <img src="../img/ordi.png" alt="ordinateur">
        </div>
    </section>

    <section class="cards">
        <div class="card-container">
        <div class="card-title">
         <h5>Cours de yoga en présentiel</h5>
        </div>
        <div class="card-contenu">
              <p class="card-text-top">Envie de prendre du temps pour soi, rencontrer et échanger avec les autres?
              </p>
              <h5>Tarifs</h5>
              <p class="card-text-bot">Cours à l'unité..................... 12€<br>
                  Carte 10 cours...................... 110€
              </p>
              <a href="#" class="btn_marron">Je commande</a>
        </div>
        </div>
        

        <div class="card-container">
            <div class="card-title">
             <h5>Cours de yoga en ligne</h5>
             </div>
             <div class="card-contenu">
             <p class="card-text-top">Vous préférez la tranquillité de votre domicile?
             </p><br>
             <h5>Tarifs</h5>
             <p class="card-text-bot">Cours à l'unité..................... 10€<br>
                 Carte 10 cours...................... 90€
             </p>
             <a href="#" class="btn_marron">Je commande</a>
            </div>
             </div>

       <div class="card-container">
        <div class="card-title">
             <h5>Programmes en ligne</h5>
             </div>
             <div class="card-contenu">
             <p class="card-text-top">Vous voulez pratiquer à votre rythme?
             </p><br>
             <h5>Tarifs</h5>
             <p class="card-text-bot">La routine matin................... 75€<br>
              Yoga, mode de vie.............. 120€
            </p>
             <a href="#" class="btn_marron">Je commande</a>
         </div>
        </div>
        </section>

        <div class="cours">
            <p>Besoin d'un suivi spécifique adapté à vos besoins? <a href={{ path('app_lescours', {'_fragment': 'cours_ind'}) }} class="lien1">Découvrez mes cours particuliers sur mesure</a><br>
            Vous n'êtes pas sûrs de vous?
            <br>Venez tester et prenez une décision ensuite!<br>
            <a href="#" class="lien2"><img src="../img/main1.png" alt="doigt" class="doigt">La première séance de yoga est offerte *</a><br>
            <span class="span1">* Hors programmes en ligne et cours particulier</span></p>
        </div>


<section class="bg_blcasse">
    <h2>Témoignages</h2> 
    <div class="temoignages">
        <div class="flecheg"></div>
        <div class="temoignage"><p>Florence<br><br>
          « Débutante dans le yoga, j'ai trouvé avec Yogizgood un cours ludique mais adapté à chacun. Il n'y a pas de "routine" car chaque séance est différente.<br>
          Je commence mon cours fatiguée après une journée de travail et je repars le corps et l'esprit apaisé et je me sens zen! ».
        </p></div>
        <div class="fleched"></div>
    </div>
</section>
</main>
</body>
{% endblock %}
