{% extends 'base.html.twig' %}

{% block title %}Édition du profil{% endblock %}

{% block body %}
    <h1>Édition du profil</h1>

    
        
    
   
    
    <form action="{{ path('app_userprofile_edit') }}" method="POST">
        
        <button type="submit" class="btn bg_mint col-1">Enregistrer</button>
    </form>

    <form action="{{ path('app_userprofile_delete') }}" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer votre profil ?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn bg_red col-1">Supprimer</button>
    </form>
{% endblock %}