<h1>Salut! Merci de confirmer votre email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Kampai!
</p>