

<div class="sidenav">
    <a href="https://www.facebook.com/Yogizgood"><img src="../img/facebook.png" alt="facebook de yogizgood"></a>
    <a href="https://www.instagram.com/yogizgood/"><img src="../img/instagram.png" alt="instagram de yogizgood"></a>
</div>