<footer>
<div><p>Mentions légales</br>
    Politique en matière de cookies
    </p>
</div>
<div id="reseau">
    <a href="https://www.facebook.com/Yogizgood"><img src="../img/facebook.png" alt="facebook"></a>
    <a href="https://www.instagram.com/yogizgood/"><img src="../img/instagram.png" alt="facebook"></a>
    <p>@ 2023 par Sandra Bacot
    </p>
</div>
<div><p>Politique de confidentialité</br>
        Conditions d'utilisation & CGV
    </p>
</div>
</footer>
