{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<body class="bg_beige">

    <div class="logo_yogizgood"></div>
    
    <div class="connexion">
        <a href="#" class="bouton ins titreh3 txt_marron">S'inscrire</a>
        <a href="#" class="bouton co titreh3 txt_marron">Se connecter</a>
    </div>

    <form action="" class="form">
    <input type="email" id="email" name="email" placeholder="Email" class="input">
    <input type="password" id="password" name="password" placeholder="Mot de passe" class="input">
    <input type="submit" value="S'inscrire" class="input btn_marron">
    </form>

</body>

{% endblock %}
