.logo_yogizgood{
    background-image: url(../img/yogizgoodlogo.png);
    width: 40%;
    height: 30vh;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}

.titre_nom{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.connexion{
   text-align: center;
   margin-bottom: 50px;
}

.bouton{
    display: inline-block;
    width: 250px ;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}

.ins{
    border: 2px solid rgba(128, 128, 128, 0.078);
    box-shadow: 5px 3px 6px #50775e9e;
    background-color: rgb(254, 252, 248);
}

.bouton:hover{
    box-shadow: 6px 6px 8px #50775e9e;
    transform: scale(1.1);
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    width: 600px;
    height: 4vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.26);
    padding-left: 8px;
}

.btn_marron{
    font-size: large;
    width: 130px;
    box-shadow: 4px 4px 6px #50775e9e;
    padding-bottom: 2px;
    margin-top: 30px;
}

.container{
    width: 40%;
}



.box_cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    width: 40%;
    padding-top: 20px;
    
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 45vh;
    margin: auto;
    text-align: center;
    background-color: #F6F2E6;
}

.cards h5{
   margin-top: 35px;
   font-size: 25px;
}

.cards p{
    margin-top: 35px;
    font-size: 22px;
}

.box_calendrier{
    display: flex;
    justify-content: center;
    margin: auto;

}


.box_historique{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.cours_reserves{
    width:600px;
    border-left: solid #BF8B68 1px;
    padding-left: 80px;
}

.cours_reserve{
    justify-content: space-between;
    width: 450px;
    height: 5vh;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

.delete{
    width: 20px;
    margin-left: 20px;
}


.txt_marron{
    margin-top: 80px;
    margin-left: 20px;
    font-size: small;
}

.resa_1{
    background-color: #C1EFD2;
}

.resa_2{
    background-color: #F79E32;
}

.btn_marron{
    padding-top: 6px;
    height: 5vh;
}

.form_co{
    border-left: black solid 1px;
    margin-left: 550px;
    padding-left: 20px;
}

.form_co label{
    width: 200px;
}

.input_co{
    width: 500px;
    height: 4vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.26);
    padding-left: 8px;
    
}

.edit{
    width: 30px;
    margin-left: 15px;
    border-radius: 3px;
}

.edit:hover{
    box-shadow: 6px 6px 8px #50775e28;
    transform: scale(1.1);
}

.wrapper{
    margin-right: 150px;
}

.achats, .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.details{
    border-left: solid #BF8B68 1px;
}


.titreh3{
    margin-bottom: 50px;
}

.box_historique ul{
    line-height: 60px;
}

.creneaux{
    display: flex;
    flex-wrap: wrap;
}


.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  

  .tab button {
    width: 250px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 24px;
    text-decoration: underline;
  }
  
  .tab button:hover {
    background-color: #DDA078;
    
  }
  
  .tab button.active {
    background-color: #BF8B68;
  }
  
  .tabcontent {
    display: none;
    height: 500px;

  }