<form method="post" action="{{ path('app_booking_delete_delete', {'id': booking.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce cours?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn txt_blc btn_admin bg_red col-3">Supprimer</button>
</form>