{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}


{% block body %}
<main>
    
       <h2 class="titrepage">A propos</h2>
       
       <section id="portrait">
        <div id="photo1">
            <div id="fond_marron1"></div>
            <img src="../img/celine.jpg" alt="Céline Brenier">
            
        </div>
    
        <div class="texte1">
            <h3>Céline Brenier</h3>
            <h4 class="txt_vert">Professeure de Yoga et éducatrice sportive</h4>
            <p>Educatrice sportive spécialisée dans le handicap mental et psychique depuis 2015 et enseignante en Activités Physiques Adaptées depuis 2016.<br><br>
                Ces deux formations étant tournées vers <span class="txt">l'accompagnement des personnes à la pratique d'activité physique,</span> je travaille dès 2016 dans un centre hospitalier puis dans un Comité Départemental du Sport Adapté en 2018.<br><br>
                Ces expériences et mon histoire de vie m'ont naturellement <span>portée vers la pratique du yoga à titre personnel.</span> J'ai pu alors découvrir une pratique qui se veut à la fois <span class="txt">douce et dynamique.</span> Au fil du temps, cette activité a pris une place essentielle dans ma vie et j'ai pu en découvrir les <span class="txt">bienfaits tant sur mon corps que sur mon esprit.</span><br><br>
                C'est donc tout naturellement que je me tourne vers une <span class="txt">formation de professeure de yoga</span> en 2021 pour continuer de partager et d'accompagner les personnes qui le désirent.<br><br>
                L'accompagnement d'un public en situation de handicap mental et psychique m'a permis d'acquérir des <span class="txt">qualités d'écoute, de bienveillance, de compréhension de l'autre et d'empathie,</span> indispensables à toute relation humaine.<br><br>
                Je souhaite mettre ces qualités en avant afin de <span class="txt">vous accompagner</span> au mieux dans la pratique du yoga, de <span class="txt">votre yoga.</span></p>
        </div>
       </section>

       <section id="diplomes">
        <div id="photo2">
            <div id="fond_vert"></div>
            <img src="../img/pos1.JPG" alt="Céline Brenier">
            
        </div>
    
        <div class="texte2">
            
            <h4>Mes diplômes et certifications</h4>
            <p><span class="date">2021-2023 -</span> <span class="txt">En formation de professeure de yoga,</span> Ecole Sadhana Life Center </p>
            <p><span class="date">2021 -</span> <span class="txt">Certification Yoga Thérapie,</span> Pathologies ostéo-articulaires et digestives</p>
            <p><span class="date">2016 -</span> <span class="txt">Licence STAPS,</span> Activités Physiques Adaptées et Santé</p>
            <p><span class="date">2015 -</span> <span class="txt">DEUST Sport Adapté,</span> déficients intellectuels et troubles psychiques</p>
        </div>
       </section>

       <section class="bg_blcasse partenaires">
        <div id="photo3">
            <div id="fond_marron2"></div>
            <img src="../img/assise.JPG" alt="Céline Brenier">
            
        </div>
    
        <div class="texte3">   
            <h4>Mes partenaires</h4>
            <p><a href="https://www.vitaliz-naturopathie.fr/"  class="txt">Vitaliz'naturopathie</a><br>Naturopathe et réflexologue plantaire</p>
        </div>

        <div id="vitaliz"></div>
       </section>


       <section id="montagnes">
           <h4>Se tourner<br>vers une vie plus saine</h4>
       </section>
       
    
    </main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src = "../js/main_apropos.js"></script>
{% endblock %}
