{% extends 'base.html.twig' %}

{% block title %}Modifier un cours{% endblock %}

{% block body %}
<div class="container card shadow-lg mb-3 border-0 mt-5 col-4 form-label">
    <h1 class="my-4 mb-5">Modifier un cours</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('session/_delete_form.html.twig') }}
    <a href="{{ path('app_session_index') }}" class="btn bg_orange col-2 my-4">Retour</a>
   
     </div>

{% endblock %}
