{% extends 'base.html.twig' %}

{% block title %}Planning des cours{% endblock %}

{% block body %}
<h2 class="titrepage">Calendrier des cours</h2>
    <div class="container mt-5">
        <div class="typecours text-center mb-5">
        <span class="bg_mint color">Présentiel</span>
        <span class="bg_marron color">Individuel</span>
        <span class="bg_orange color">En ligne</span>
        </div>

        <div id="calendar">
        </div>
            
{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
    </script>

    <script>
        
        const bookings = {{ events|json_encode|raw }};
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                events: bookings,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title'
                },
                firstDay: 1,
                businessHours: [
                    {
                        daysOfWeek: [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        startTime: '09:00',
                        endTime: '20:00'
                    }
                ],
                weekends: false,
                slotMinTime: '09:00',
                slotMaxTime: '20:00',
                allDaySlot: false,

                eventClassNames: function (arg) {
                    if (arg.event.extendedProps.kind == 'Présentiel') {
                        return ['bg_mint']
                    } else if (arg.event.extendedProps.kind == 'En ligne') {
                        return ['bg_orange']
                    } else if (arg.event.extendedProps.kind == 'Individuel') {
                        return ['bg_marron']
                    }
                },
                eventClick: function (info) {
                    var eventObj = info.event;
                    const props = eventObj.toJSON().extendedProps;
                    window.location.href = props.booking_url;
                }
            });

            calendar.render();
        });
    </script>
{% endblock %}
    </div>
{% endblock %}
