{% extends 'base.html.twig' %}

{% block title %}Programmes en ligne{% endblock %}

{% block body %}

    <h1 class="titrepage">Programmes en ligne</h1>

    <h2 class="titreh4 txt_vert">La routine matin</h2>

     <h2 class="titreh4 txt_vert">Yoga, mode de vie</h2>
{% endblock %}
