{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block body %}
<div class="container">

    <h1>Modifier mes informations</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</div>

{% endblock %}
